# NO colocar secretos reales en este archivo.

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

# SQL Server
SQLSERVER_SA_PASSWORD=REEMPLAZAR_LOCALMENTE
ConnectionStrings__SqlServer=Server=localhost,1433;Database=NextTechCustomDB;User Id=sa;Password=REEMPLAZAR_LOCALMENTE;TrustServerCertificate=True;

# Oracle central (externo)
ConnectionStrings__Oracle=REEMPLAZAR_LOCALMENTE

# JWT
Jwt__Issuer=NextTech
Jwt__Audience=NextTech.Client
Jwt__Key=REEMPLAZAR_CON_SECRETO_LARGO

# Pagos / notificaciones
Payments__ApiKey=
Email__Host=
Email__User=
Email__Password=
WhatsApp__Token=
