# Docker SQL Server
SQLSERVER_SA_PASSWORD=REEMPLAZAR_LOCALMENTE

# Opcionales para cuando decidan sacar secretos de appsettings.json.
ORACLE_CONNECTION=User Id=TIENDA_APP;Password=REEMPLAZAR_LOCALMENTE;Data Source=www.server.daossystem.pro:5626/XEPDB1;
JWT_SECRET=REEMPLAZAR_CON_SECRETO_LARGO
